<div class="navbar fixed-top navbar-expand-sm navbar-light navbar-lewagon nav-bar">
  <div>
    <%= image_tag "wedding-dress.jpg", alt: "Wedding attire", class: "logo" %>
    <span class="text-left text-change"><strong>My Posh Wedding Rental<strong></span>
  </div>
  <i class="fas fa-user"></i>
<div>
