.index-display{
  display: flex;
  .cards{
    grid-template-columns: 1fr;
    width: 60%;
  }
  .card-trip{
    height: 400px;
  }
  #map{
    position: sticky;
    top: 190px;
  }
}

.items-top{
  position: sticky;
  top: 100px;
}
