.index-display{
  display: flex;
  .cards{
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .card-trip{
    height: 500px;
  }
  #map{
    position: sticky;
    top: 190px;
  }
}

.items-top{
  position: sticky;
  top: 100px;
}

.item-name-show {
  font-size: 30px;
}

.item-name-show.fas {
  font-size: 30px;
  color: rgb(39, 218, 116);
}

.fas.fa-star{
  color: rgb(258, 180, 8);
}
