.card-trip {
  overflow: hidden;
  // height: 350px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30%;
}

.item-category {
  font-size: 16px;
  margin: 0;
  font-weight: lighter;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: transform 0.4s ease-out;
}

.card-category:hover {
  transform: scale(1.02);
}

.home-cards > a {
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 16px;
  &.home-cards{
    width: 70%;
    margin: 30px auto;
    grid-gap: 30px;
  }
}
.home-cards{
  .card-category{
    height: 380px;
  }
}

.cards-item {
  width: 80%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 16px;
  margin: 40px auto;
  background-size: cover;
  background-position: center;
  height: 60vh;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
}

.card-item {
  padding: 30px;
}

.card-image {
  background-size: cover;
  background-position: center;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.text-title {
  position: relative;
  left: 15px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.description {
  padding: 20px;
  font-family: monospace;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.main-container {
  display: flex;
  width: 100%;
}

// #map {
//   height: 100vh;
//   position: sticky;
//   top: 1px;
//   flex-shrink: 0;
// }


.cards {
  flex-grow: 1;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.cards-booking {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.edit-book {
  position: absolute;
  right: 140px;
}

.delete-book {
  position: absolute;
  right: 40px;
}

.card-product-none {
  overflow: hidden;
  height: 70vh;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
}

.card-product-none h2 {
  font-size: 300px;
  color: #3BA99C;
  margin: 0;
}

.card-product-none p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-none .card-product-infos {
  padding: 16px;
}
