.form-booking {
  width: 50vw;
  margin-left: 25vw;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.form-item {
  width: 50vw;
  margin-left: 25vw;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
