.navbar-lewagon {
  justify-content: space-between;
  background: rgb(255, 255, 255);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-white {
  background-color: white;
}

.logo {
  width: 80px;
  height: 40px;
}

.nav-bar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.user {
  font-size: 18px;
  border: solid beige 1px;
  padding: 10px;
}

.text-change {
  font-family: cursive;
  color: rgb(41, 159, 228);
  font-size: 18px;
}
